<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ecampus_irvan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iecampuz"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iecampuz_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EcampusIrvan">


        <activity
            android:name=".splashscreen"
            android:exported="true"
            android:label="ecampus"
            android:theme="@style/Theme.EcampusIrvan2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <activity
            android:name=".inputdata"
            android:label="Input Data"
            android:parentActivityName=".inputdata"
            android:theme="@style/Theme.EcampusIrvan"/>

        <activity
            android:name=".informasi"
            android:label="Tentang Aplikasi"
            android:parentActivityName=".informasi"
            android:theme="@style/Theme.EcampusIrvan"/>

        <activity
            android:name=".datamahasiswa"
            android:label="Data Mahasiswa"
            android:parentActivityName=".datamahasiswa"
            android:theme="@style/Theme.EcampusIrvan" />


        <activity android:name=".updatedata"
            android:label="Update Data"
            android:theme="@style/Theme.EcampusIrvan"
            android:parentActivityName=".updatedata"/>

        <activity android:name=".detaildata"
            android:label="Detail Data"
            android:theme="@style/Theme.EcampusIrvan"
            android:parentActivityName=".detaildata"/>




    </application>

</manifest>